.DP {
    background-image: url("../../assets/pinkStroller.png");
    background-position: center;
    background-size: cover;
    /* color: rgb(73, 73, 73); */
    /* margin-top: 1rem; */
    /* box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.541); */
  }