.DP {
  background-image: url("../../assets/yellowkids.png");
  background-position: center;
  background-size: cover;
  }


  .DP2 {
    background-image: url("../../assets/yellowkids.png");
    background-position: center;
    background-size: cover;
    }
