.DPP {
    /* background-image: url("../../assets/ducks.jpg");
    background-position: bottom;
    background-size: cover; */
    /* color: rgb(73, 73, 73); */
    /* margin-top: 1rem; */
    /* box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.541); */

    background: rgb(253, 238, 246)27);
  }

