.d-block{
    background-position: center;
    background-size: cover;
}
.carousel-item {
    height: 300px;
    overflow: hidden;
    width: 100%;
}
.carousel-item img {
width: 100%;
}

.custum-card-size {
    height: 440px
}